/* 
    Created on : 09.04.2015, 09:54:52
    Author     : dirk
*/

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }

form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }

#makewind { list-style-type: none; margin: 0; padding: 0; }
#makewind li { padding: 5px 10px; }
#makewind li:nth-child(odd) { background: #eee; }

.messages { list-style-type: none; margin: 0.5%; padding: 0.5%; background: #CCC; height: 40%; width: 49%; display: block; float: right;}
.messages li { padding: 5px 10px; }
.messages li:nth-child(odd) { background: #eee; }

