/* 
    Created on : 02.04.2015, 23:40:58
    Author     : dirk
*/

* {
    color: blue;
}

li {
    background-color: lightcyan;
    padding: 10px;
    margin-bottom: 5px;
    list-style: none;
}

a {
    display: block;
    font-size: 3em;
}

a, a:visited, a:link {
    color: inherit;
    text-decoration: none;
}
a:active {
    background-color: aquamarine;
}
a:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    margin: 2px;
    padding: 4px;
    background-color: rgba(200,200,200,.9);
}
